#confetti {
  background: lightblue;
  padding: 1em;
  border-radius: 1em;
}

/* optional styling */
/* center the child by centering the parent */
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
